
* {box-sizing: border-box;}


body {
  background-image: url("a.jpg"); 
}


a {
    text-decoration: none;
}

@font-face {
   font-family: myFirstFont;
   src: url(ufonts.com_matterhorn-normal.woff);
}

.main-nav {

        background: #181818;
        position: absolute;
        top: 0%; 
        left: 0%;
        width: 100%;
        height: 40%;
        z-index: 150;
        
        
      }


.main-nav img {

        position: relative;
        top: 10%;
        left: 15%;
        display: inline-block;
        margin: 10px 10px;
      }


.main-nav img:hover {
        box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
      }

.heading

        {

        font-family: myFirstFont;
        font-size: 60px;
        max-width: 85%;
        padding-right: 30px;
        position: absolute;
        left: 46%;
        top: 8%;
        color: white;

        }

.heading_desc

        {

        font-family: myFirstFont;
        font-size: 30px;
        max-width: 85%;
        padding-right: 150px;
        position: absolute;
        left: 46%;
        top: 35%;
        color: white;

        }

input[type=text], input[type=password] {

    width: 85%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 18px;
    font-family: myFirstFont;
    padding-right: 20px;

}


.signupbtn {
    float: left;
    width: 25%;
    padding: 12px;
    background-color: #1e4bce;
    color: white;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    border-radius: 6px;
    font-family: myFirstFont;
}

.signupbtn:hover {
  opacity: 0.85;
}


.container {
    padding: 35px;
    font-family: myFirstFont;
    
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
    overflow: auto;

}


.box1 
       {

 		 width: 40%;
 		 height: 850px;
     font-size: 25px;
 		      border-width: 1px;
border-style:solid;
border-color:black;
border-radius: 20px;
background-image: url("a.jpg");
 		 padding-left: 30px;
 		 padding-top: 15px;
 		 padding-right: 30px;
 		 padding-bottom: 35px;
 		 box-sizing: border-box;
 		 color: #1e4bce;
 		 position: relative;
 		 left: 15%;
 		 top: 400px;
 		 overflow: auto;

 	   }

.label {

       font-family: myFirstFont;
       font-size: 18px;
       max-width: 85%;
       color: #1e4bce;


}

.box2 
       {

 		 width: 27.5%;
 		 height: 850px;
 		 border-width: 1px;
border-style:solid;
border-color:black;
border-radius: 20px;
background-image: url("a.jpg");
 		 padding-left: 30px;
 		 padding-top: 35px;
 		 padding-right: 30px;
 		 padding-bottom: 35px;
 		 box-sizing: border-box;
 		 font-family: myFirstFont;
 		 position: relative;
 		 left: 57.5%;
 		 top: -450px;
 		 overflow: auto;

 	   }

 .login {
  
    width: 90%;
    display: inline-block;
    color: #1e4bce;
    font-size: 24px;
    font-family: myFirstFont;

 }

  .login1 {
  
    width: 90%;
    display: inline-block;
    color: #1e4bce;
    font-size: 16px;
    font-family: myFirstFont;

 }

input[name="form_text"], select, textarea {
    width: 95%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[name="form_submit"] {
    background-color: #1e4bce;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[name="form_submit"]:hover {
    opacity: 0.85;
}

 .why_use {
  
    width: 90%;
    display: inline-block;
    color: #202020;
    font-size: 22px;
    font-family: myFirstFont;
    overflow: auto;
    padding-bottom: 20px;

 }



.footer 
       {

         width: 100%;
         height: 50%;
         border: 1px #ddd;
         padding-left: 30px;
         padding-top: 35px;
         padding-right: 30px;
         padding-bottom: 35px;
         box-sizing: border-box;
         background-color: rgb(184,184,184);
         position: absolute;
         left: 0%;
         top: 1800px;

       }


.f_row > .f_column {
  padding: 0 10px;
}

.f_row {
  padding-top: 8%;
  padding-left: 5%
}

.f_column {
  float: left;
  font-size: 20px;
  width: 25%;
  height: 20%;
}

.f_column1 {
  float: left;
  font-size: 20px;
  width: 25%;
  height: 20%;
  position: absolute;
         left: 25%;
         top: 15%;
}

.f_column2 {
  float: left;
  font-size: 20px;
  width: 25%;
  height: 20%;
  position: absolute;
         left: 45%;
         top: 15%;
}


.f_column3 {
  float: left;
  width: 25%;
  height: 20%;
  font-size: 15px;
  position: absolute;
         left: 65%;
         top: 15%;
}

 .top_movies_list

        {

        font-family: myFirstFont;
        font-size: 23px;
        max-width: 90%;
        padding-right: 5px;
        position: absolute;
        color: black;
        top: 15%;

        }


.box3 
       {

 		 width: 70%;
 		 height: 400px;

background-image: url("a.jpg");
 		 padding-left: 30px;
 		 padding-top: 35px;
 		 padding-right: 30px;
 		 padding-bottom: 35px;
 		 box-sizing: border-box;
 		 background-color: #fff;
 		 position: absolute;
 		 left: 15%;
 		 top: 1300px;
 		 overflow: auto;

 	   }

 .box3_content

        {

        font-family: myFirstFont;
        font-size: 35px;
        max-width: 90%;
        padding-right: 5px;
        position: absolute;
        color: #1e4bce;
        top: 2%;

        }


.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 25%;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  
 
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;

}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
}

.cursor {
  cursor: pointer
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: grey;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

img {
  margin-bottom: -4px;
}

.caption-container {
  text-align: center;
  background-color: black;
  padding: 5px 16px;
  color: white;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.fa {
  padding: 20px;
  width: 32px;
  height: 32px;
}

.fa:hover {
    opacity: 0.9;
}

.facebook {

    background-image: url("aa.png");
    background-repeat: no-repeat;
      position: absolute;
         left: 38%;
         top: 82%;
}

.facebook1 {

    background-image: url("aa.png");
    background-repeat: no-repeat;
      position:absolute;
         left: 42%;
         top: 82%;
}

.facebook2 {

    background-image: url("aa.png");
    background-repeat: no-repeat;
      position:absolute;
         left: 46%;
         top: 82%;
}

.facebook3 {

    background-image: url("aa.png");
    background-repeat: no-repeat;
      position:absolute;
         left: 50%;
         top: 82%;
}
