
* {box-sizing: border-box;}


body {
  background-image: url("a.jpg"); 
}


a {
    text-decoration: none;
}

@font-face {
   font-family: myFirstFont;
   src: url(ufonts.com_matterhorn-normal.woff);
}

.main-nav {

        background: #101010;
        position: fixed;
        float: left;
        left: 0%;
        top: 0%; 
        width: 100%;
        height: 50px;
        z-index: 150;
        
        
      }


.main-nav a {

        font-size: .9em;
        text-decoration: none;
        font-weight: bold;
        text-transform: uppercase;
        color: #444135;
        display: inline-block;
        margin: 10px 10px;
      }


.main-nav a:hover {
        color: #fff;
      }

.home_image {

 
    background-size: 10px;
    background-repeat: no-repeat;
      position: fixed;
         right: 28%;
         top: 0%;
}

.notif_image {

 
    background-size: 40px;
    background-repeat: no-repeat;
      position: fixed;
         right: 24%;
         top: 0%;
}

.user_image {

 
    background-size: 40px;
    background-repeat: no-repeat;
      position: fixed;
         right: 15%;
         top: 1%;
         font-family: myFirstFont;
         font-size: 25px;
}

.logo_image {

 
    background-size: 40px;
    background-repeat: no-repeat;
      position: fixed;
         right: 80%;
         top: 0%;
}

input[name="search_text"] {

    width: 25%;
    height: 40px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    font-family: myFirstFont;
    background-color: white;
    background-image: url('search.png');
    background-position: 3px 3px; 
    background-size: 30px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 1.0s ease-in-out;
    transition: width 1.5s ease-in-out;
      position: fixed;
         left: 30%;
         top: 0.5%;
}

input[name="search_text"]:focus {

    width: 35%;
}




.footer 
       {

         width: 100%;
         height: 50%;
         border: 1px #ddd;
         padding-left: 30px;
         padding-top: 35px;
         padding-right: 30px;
         padding-bottom: 35px;
         box-sizing: border-box;
         background-color: rgb(184,184,184);
         position: absolute;
         left: 0%;
         top: 290%;

       }


.f_row > .f_column {
  padding: 0 10px;
}

.f_row {
  padding-top: 8%;
  padding-left: 5%
}

.f_column {
  float: left;
  font-size: 20px;
  width: 25%;
  height: 20%;
}

.f_column1 {
  float: left;
  font-size: 20px;
  width: 25%;
  height: 20%;
  position: absolute;
         left: 25%;
         top: 15%;
}

.f_column2 {
  float: left;
  font-size: 20px;
  width: 25%;
  height: 20%;
  position: absolute;
         left: 45%;
         top: 15%;
}


.f_column3 {
  float: left;
  width: 25%;
  height: 20%;
  font-size: 15px;
  position: absolute;
         left: 65%;
         top: 15%;
}

 .top_movies_list

        {

        font-family: myFirstFont;
        font-size: 23px;
        max-width: 90%;
        padding-right: 5px;
        position: absolute;
        color: #282828;
        top: 15%;

        }


.fa {
  padding: 20px;
  width: 32px;
  height: 32px;
}

.fa:hover {
    opacity: 0.9;
}

.facebook {

    background-image: url("aa.png");
    background-repeat: no-repeat;
      position: absolute;
         left: 38%;
         top: 82%;
}

.facebook1 {

    background-image: url("aa.png");
    background-repeat: no-repeat;
      position:absolute;
         left: 42%;
         top: 82%;
}

.facebook2 {

    background-image: url("aa.png");
    background-repeat: no-repeat;
      position:absolute;
         left: 46%;
         top: 82%;
}

.facebook3 {

    background-image: url("aa.png");
    background-repeat: no-repeat;
      position:absolute;
         left: 50%;
         top: 82%;
}



.box0 
       {

     width: 40%;
     height: 50%;
          border-width: 3px;
border-style:solid;
border-color:black;
border-radius: 20px;
     padding-left: 30px;
     padding-top: 35px;
     padding-right: 30px;
     padding-bottom: 35px;
     box-sizing: border-box;
     background-image: url("a.jpg");
     position: absolute;
     left: 30%;
     top: 15%;
     color: #1e4bce;

     }

.box1 
       {

     width: 70%;
     height: 50%;
     padding-left: 30px;
     padding-top: 35px;
     padding-right: 30px;
     padding-bottom: 35px;
     box-sizing: border-box;
     background-image: url("a.jpg");
     position: absolute;
     left: 15%;
     top: 75%;

     }

.title_top_picks

         {

       font-family: myFirstFont;
       font-size: 32px;
       color: #1e4bce;
       padding-left: 2%;    
       max-width: 90%;
       float: left;
          }

.title_see_more

         {

       font-family: myFirstFont;
       color: #1e4bce;
       padding-left: 2%;    
       max-width: 80%;
       float: right;
       position: relative;
       right: 5%;
       top: 4%;

       
          }

.img_container {

  max-width: 90%;
  height: 55%;
  overflow: auto;
  overflow-x: scroll;
  overflow-y: hidden;
  position: absolute;
  white-space: nowrap;
  left: 5%;
  top: 30%;

}

.img {
    border: 0px solid #ddd;
    border-radius: 4px;
    padding: 1px;
    width: 16%;
    height: 88%;

}

.img:hover {
    box-shadow: 10px 18px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.img_star {

    border: 0px solid #ddd;
    border-radius: 4px;
    padding: 1px;
    width: 35%;
    height: 38%;
    position: absolute;
    left: 30%;
    top: 40%;

}

.img_star:hover {
    box-shadow: 10px 18px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.box2
       {

     width: 70%;
     height: 50%;
     border: 1px #ddd;
     padding-left: 30px;
     padding-top: 35px;
     padding-right: 30px;
     padding-bottom: 35px;
     box-sizing: border-box;
     background-image: url("a.jpg");
     position: absolute;
     left: 15%;
     top: 135%;

     }

.box8 
       {

         max-width: 70%;
         max-height: 80%;
         border: 1px #ddd;
         padding-left: 30px;
         padding-top: 15px;
         padding-right: 15px;
         padding-bottom: 35px;
         box-sizing: border-box;
         background-image: url("a.jpg");
         position: absolute;
         left: 15%;
         top: 195%;
         font-family: myFirstFont;
         font-size: 22px;
         color: #404040;
         overflow: auto;

       }
